@import "tailwindcss";

:root {
  --color-primary: #0D47A1;
  --color-primary-light: #1976D2;
  --color-primary-dark: #0A3880;
  --color-secondary: #455A64;
  --color-accent: #29B6F6;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-primary-60 {
    background-color: rgb(13 71 161 / 0.6);
  }
  .bg-primary-light {
    background-color: var(--color-primary-light);
  }
  .bg-primary-dark {
    background-color: var(--color-primary-dark);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .bg-accent {
    background-color: var(--color-accent);
  }

  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }

  .border-primary {
    border-color: var(--color-primary);
  }
}
