---
const backgroundUrl = "https://metalglassrd.com/wp-content/uploads/2018/12/81citPJCMXL._SL1500_.jpg";
---

<section
  id="hero"
  class="relative bg-cover bg-center text-white"
  style={`background-image: url('${backgroundUrl}');`}
>
  <div class="absolute inset-0 bg-primary-60"></div>
  <div class="relative container mx-auto px-6 py-32 md:py-48 flex flex-col items-center text-center">
    <h1 class="text-4xl md:text-6xl font-extrabold leading-tight tracking-tight mb-4 animate-fade-in-down">
      Transforma tu baño en un oasis de diseño.
    </h1>
    <p class="text-lg md:text-xl max-w-3xl mb-8 font-light text-gray-200 animate-fade-in-up">
      ¿Cansado de las salpicaduras y la cortina pegajosa? Las mamparas de baño no solo protegen tu espacio, ¡lo elevan! Con líneas limpias, materiales premium y diseños modernos, convertirás cada ducha en una experiencia de spa. Elige entre vidrio templado, estructuras minimalistas y acabados que enamoran a primera vista.
    </p>
    <a
      href="https://wa.me/18095398378?text=Saludos%2C%20deseo%20un%20informaci%C3%B3n%20sobre%20mamparas%20de%20baño."
      target="_blank"
      class="bg-accent hover:bg-blue-400 text-white font-bold py-3 px-8 text-sm rounded-full transition-transform duration-300 ease-in-out transform hover:scale-105 shadow-lg animate-fade-in-up"
      style="animation-delay: 0.5s;"
    >
      Elige tu estilo ahora
    </a>
  </div>
</section>
